include ../blocks/card/card.pug
include ../blocks/contact/contact.pug
include ../blocks/skills/skills.pug
include ../blocks/awards/awards.pug
include ../blocks/education/education.pug
include ../blocks/experience/experience.pug
include ../blocks/certification/certification.pug
include ../blocks/links/links.pug
