mixin contact(modifier)
  section.contact
    .contact__header
      a(href="#1").contact__logo
        include img/contact__man.svg
      h1.contact__title contact
    .contact__block
      a(href="#1").contact__icon
        include img/contact__home.svg
      span.contact__text 134 Rightward Way
    .contact__block
      a(href="#1").contact__icon
        include img/contact__phone.svg
      span.contact__text (000)954-987-2679
    .contact__block
      a(href="#1").contact__icon
        include img/contact__mail.svg
      span.contact__text theresawebb@gmail.com
    .contact__block
      a(href="#1").contact__icon
        include img/contact__web.svg
      span.contact__text www.webb.com/mycv/