mixin awards(modifier)
  section.awards
    .awards__header
      a(href="#1").awards__logo
        include img/awards__cup.svg
      h1.awards__title awards
    span.awards__text Outstanding Achievement Award
    span.awards__signature 2017, Claredon Smith
    span.awards__text Employee of the Month
    span.awards__signature December 2009, Didier Sachs
