@import 'mixins';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/circular-std');

/* Plugins */



/* Blocks */

body, ul, ol {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  font-weight: normal;
  margin: 0;
  padding: 0;
}
@import './src/blocks/card/card';
@import './src/blocks/contact/contact';
@import './src/blocks/skills/skills';
@import './src/blocks/awards/awards';
@import './src/blocks/education/education';
@import './src/blocks/experience/experience';
@import './src/blocks/certification/certification';
@import './src/blocks/links/links';