mixin certification(modifier)
  section.certification
    .certification__header
      a(href="#1").certification__logo
        include img/certification__medal.svg
      h1.certification__title certification
    span.certification__point PMP - Project Management Institute
    span.certification__signature 2010-05
    span.certification__point CAPM - Project Management Institute
    span.certification__signature 2007-11
    span.certification__point PRINCE@ Foundation
    span.certification__signature 2014-04