.card {
    max-width: 191px;

    &__title {
        font-family: 'Circular Std';
        font-weight: 700;
        font-size: px-to-em(30);
        line-height: lh-to-pct(38,30);
        color: #414042;
        margin: 11px 0 3px 6px;
    }

    &__subtitle {
        font-size: px-to-em(15);
        line-height: lh-to-pct(18,15);
        color: #414042;
        margin-bottom: 15px;
    }

    &__photo {
        margin-bottom: 25px;
    }

    &__text {
        font-size: px-to-em(8);
        line-height: lh-to-pct(12,8);
        text-align: justify;
        color: #414042;
    }
}
