mixin experience(modifier)
  section.experience
    .experience__header
      a(href="#1").experience__logo
        include img/experience__hat.svg
      h1.experience__title experience
    h2.experience__subtitle Web Developer
    span.experience__signature Claredon Smith, Los Angeles, CA, 2015–present
    ul.experience__list
      li.experience__point Manage accounts worth $4.7 million in annual sales
      li.experience__point Selected to train 3 new account managers on the basis of my stellar track record
      li.experience__point Increased business volume by 150% by implementing new customer service initiative
      li.experience__point Recovered 15 dormant accounts worth a total of $500,000
    h2.experience__subtitle Junior Developer
    span.experience__signature Didier Sachs, Los Santos, CA, 2008–2011
    ul.experience__list
      li.experience__point Networked effectively with clients, increasing revenue by 47% in just 5 months
      li.experience__point Recognized as Employee of the Month as well as Top Salesprson 3 times for exceeding sales objectives
    h2.experience__subtitle Web Developer (intern)
    span.experience__signature Legal Genius, Pasadena, CA, 2011–2015
    ul.experience__list
      li.experience__point Monitored client accounts, analyzed incomings and outgoings, and performed daily, weekly, and annual forecasts
      li.experience__point Exceeded 2014 sales target by 47%
      li.experience__point Strategized with team to win market share from competitors