extends ../templates/template.pug
block content
    .wrapper
        +card
        +contact
        +skills
        +awards
        +education
        +experience
        +certification
        +links