mixin links(modifier)
  section.links
    .links__block
      a(href="#1").links__icon
        include img/links__linkedin.svg
      a(href="#1").links__mail linkedin.com/johnutw
    .links__block
      a(href="#1").links__icon
        include img/links__twitter.svg
      a(href="#1").links__mail @johnsmithutw.twitter
    .links__block
      a(href="#1").links__icon
        include img/links__facebook.svg
      a(href="#1").links__mail facebook.com/my.smith
    .links__block
      a(href="#1").links__icon
        include img/links__mail.svg
      a(href="#1").links__mail j.smith@uptowork.com