mixin skills(modifier)
  section.skills
    .skills__header
      a(href="#1").skills__logo
        include img/skills__gear.svg
      h1.skills__title skills
    .skills__block
      span.skills__point HTML/JAVA/C+
      span.skills__point WordPress
      span.skills__point Project Scheduling
      span.skills__point Microsoft Project
      span.skills__point Dream Weaver
      span.skills__point MS Windows 
      span.skills__point Photoshop & Illustration
      span.skills__point Linux/Unix
      span.skills__point Communication Skills
