mixin education(modifier)
  section.education
    .education__header
      a(href="#1").education__logo
        include img/education__bag.svg
      h1.education__title education
    .education__block
      h2.education__subtitle Master of Computer Science
      ul.education__list
        li.education__point Graduated Summa Cum Laude.
        li.education__point Member of Student Association of Project Management.
        li.education__point Managed a student project to develop a weekly IT News podcast.
      h2.education__subtitle Bachelor of Computer Science
      ul.education__list 
        li.education__point Graduated Summa Cum Laude.
        li.education__point Member of Student Association of Computer Science.
        li.education__point Managed a student project to organize a conference for 50+ professionals.